<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FeedbackForm</title>
<link rel="stylesheet" href="./css/Feedback.css">
<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
</head>
<body>
<div class="heading">
<h1>RATE US</h1>
</div>
<div class="rating">
<div class="thanks-msg" id="msg">Thanks for the feedback</div>
<div class="star-input">
<input type="radio" name="rating" id="rating-5">
<label for="rating-5" class="fas fa-star"></label>
<input type="radio" name="rating" id="rating-4">
<label for="rating-4" class="fas fa-star"></label>
<input type="radio" name="rating" id="rating-3">
<label for="rating-3" class="fas fa-star"></label>
<input type="radio" name="rating" id="rating-2">
<label for="rating-2" class="fas fa-star"></label>
<input type="radio" name="rating" id="rating-1">
<label for="rating-1" class="fas fa-star"></label>
<form>
<span class="rating-reaction"></span>
<button type="submit" class="submit">Submit</button>
</form>
</div>
</div>
<script src="/public/js/Feedback.js"></script>
</body>
</html>